<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP Taller Construccion de Software</title>
    <description>TP Taller Construccion de Software, Agostina Heinzmann, Marco Mignacco, Alana Rios</description>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/491d01e537.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="area">
    <div class="context">
      <h1>
        Todo lo que necesitas, al alcance de tu
        <span class="title">lista de tareas</span>
      </h1>
      <div class="input-group">
        <input type="text" placeholder="Ingresar título de lista" />
        <button class="add-button">Agregar</button>
      </div>
      <!-- ACA TENEMOS QUE AGREGAR UN FOR PARA CADA LISTA (cREO) -->

      <div class="todo-container">
        <input
          type="checkbox"
          id="collapse-toggle"
          class="collapse-toggle context"
        />
        <div class="todo-header">
          <h2 class="todo-title">{{ task-title }}</h2>
          <div class="todo-actions">
            <button class="icon" aria-label="Edit list">
              <i class="fas fa-pencil"></i>
            </button>
            <button class="icon" aria-label="Delete list">
              <i class="fas fa-trash"></i>
            </button>
            <label
              for="collapse-toggle"
              class="collapse-label icon"
              aria-label="Toggle list"
            >
              <i class="fas fa-chevron-down"></i>
            </label>
          </div>
        </div>
        <div class="todo-content">
          <ul class="task-list">
            <!-- ACA TENEMOS QUE AGREGAR UN FOR PARA CADA TAREA (cREO) -->
            <li class="task-item">
              <input type="checkbox" id="task1" class="task-checkbox" />
              <p for="task1" class="task-label">{{ id.task.name }}</p>
              <div class="task-actions">
                <button class="icon" aria-label="Edit task">
                  <i class="fas fa-pencil"></i>
                </button>
                <button class="icon" aria-label="Delete task">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </li>
            <!-- ENDFOR -->
          </ul>
          <div class="add-task">
            <input type="text" placeholder="Agregar Tarea" />
            <button class="add-button">+</button>
          </div>
        </div>
      </div>
      <!-- ENDFOR -->
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
