<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP Taller Construccion de Software</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/491d01e537.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="area">
    <div class="context">
      <h1>
        Todo lo que necesitas, al alcance de tu
        <span class="title">lista de tareas</span>
      </h1>

      <a th:href="@{/newTodoListForm}" class="add-button" type="submit"
        >Agregar +</a
      >

      <div class="list-container">
        <!-- ACA TENEMOS QUE AGREGAR UN FOR PARA CADA LISTA (cREO) -->
        <th:block th:each="list : ${todoLists}">
          <div class="todo-container">
            <input
              type="checkbox"
              id="collapse-toggle"
              class="collapse-toggle context"
            />
            <div class="todo-header">
              <h2 class="todo-title" th:text="${list.name}"></h2>
              <div class="todo-actions">
                <a
                  th:href="@{/updateTodoListForm/{id}(id=${list.listId})}"
                  class="icon"
                  aria-label="Edit list"
                >
                  <i class="fas fa-pencil"></i>
                  Editar
                </a>
                <a
                  th:href="@{/deleteTodoList/{id}(id=${list.listId})}"
                  class="icon"
                  aria-label="Delete list"
                >
                  <i class="fas fa-trash"></i>
                  Borrar
                </a>
                <label
                  for="collapse-toggle"
                  class="collapse-label icon"
                  aria-label="Toggle list"
                >
                  <i class="fas fa-chevron-down"></i>
                </label>
              </div>
            </div>
            <div class="todo-content">
              <ul class="task-list">
                <th:block th:each="task : ${list.taskList}">
                  <!-- ACA TENEMOS QUE AGREGAR UN FOR PARA CADA TAREA (cREO) -->
                  <li class="task-item">
                    <p
                      for="task1"
                      class="task-label"
                      th:text="${task.name}"
                    ></p>
                  </li>
                </th:block>
                <!-- ENDFOR -->
              </ul>
            </div>
          </div>
        </th:block>
      </div>
      <!-- ENDFOR -->
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
