<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tareas</title>
</head>
<body>
<h1>Lista de Tareas</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Completada</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.completed}"></td>
        <td>
            <a th:href="@{/tasks/{id}(id=${task.taskId})}">Ver</a>
            <a th:href="@{/tasks/delete/{id}(id=${task.taskId})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>