<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP Taller Construccion de Software</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/491d01e537.js"
            crossorigin="anonymous"
    ></script>

</head>

<body>
<div class="container">
    <h2>Actualizar TODO</h2>

    <form action="#" th:action="@{/createTodoList}" th:object="${todoList}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{listId}" />

        <input type="text" th:field="*{name}" placeholder="Nombre de la TODO" class="form-control mb-4 col-4">
        <div id="tasks-container" class="mb-4">
            <h4>Tareas</h4>

            <!-- Mostrar tareas existentes -->
            <div th:each="task, stat : ${todoList.taskList}" class="mb-2">
                <input type="hidden" th:field="*{taskList[__${stat.index}__].taskId}" />
                <input type="text" th:field="*{taskList[__${stat.index}__].name}" class="form-control col-4 mb-2" />
                <input type="checkbox" th:field="*{taskList[__${stat.index}__].completed}" /> Completado
                <button type="button" class="btn btn-danger col-2 ml-2">Eliminar</button>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">Actualizar TODO</button>
    </form>

    <hr>

    <a th:href="@{/}">Volver a la pantalla principal</a>
</div>
</body>

<script>
   
    let taskIndex = [[${#lists.size(todoList.taskList)}]]; 

    document.getElementById('add-task-btn').addEventListener('click', function () {
        const tasksContainer = document.getElementById('tasks-container');

        const taskDiv = document.createElement('div');
        taskDiv.classList.add('mb-2');

        
        const taskInput = document.createElement('input');
        taskInput.type = 'text';
        taskInput.name = `taskList[${taskIndex}].name`;
        taskInput.placeholder = 'Nombre de la tarea';
        taskInput.classList.add('form-control', 'mb-2', 'col-4');

        
        const taskCheckbox = document.createElement('input');
        taskCheckbox.type = 'checkbox';
        taskCheckbox.name = `taskList[${taskIndex}].completed`;
        taskCheckbox.classList.add('ml-2');

        
        const checkboxLabel = document.createElement('label');
        checkboxLabel.textContent = ' Completado';
        checkboxLabel.classList.add('ml-2');

    
        const removeTaskBtn = document.createElement('button');
        removeTaskBtn.type = 'button';
        removeTaskBtn.innerText = 'Eliminar';
        removeTaskBtn.classList.add('btn', 'btn-danger', 'col-2', 'ml-2');
        removeTaskBtn.addEventListener('click', function () {
            tasksContainer.removeChild(taskDiv);
        });

     
        taskDiv.appendChild(taskInput);
        taskDiv.appendChild(taskCheckbox);
        taskDiv.appendChild(checkboxLabel);
        taskDiv.appendChild(removeTaskBtn);

        tasksContainer.appendChild(taskDiv);

        taskIndex++;
    });
</script>

</html>