<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actualizar TODO</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/491d01e537.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="area">
    <div class="container">
      <div class="context">
        <div class="card">
          <h2 class="title-newtodo">Actualizar TODO</h2>
          <form
            action="#"
            th:action="@{/createTodoList}"
            th:object="${todoList}"
            method="POST"
          >
            <input type="hidden" th:field="*{listId}" />
            <input
              type="text"
              th:field="*{name}"
              placeholder="Nombre de la TODO"
              class="form-control mb-4 col-4"
            />
            <div id="tasks-container" class="title-newtodo1">
              <h4>Tareas</h4>
              <div
                th:each="task, stat : ${todoList.taskList}"
                class="task-input-container task-item"
              >
                <input
                  type="hidden"
                  th:field="*{taskList[__${stat.index}__].taskId}"
                />
                <input
                  type="hidden"
                  th:field="*{taskList[__${stat.index}__].toBeDeleted}"
                  value="false"
                  class="task-deletion-flag"
                />
                <input
                  type="text"
                  th:field="*{taskList[__${stat.index}__].name}"
                  class="form-control col-4 mb-2"
                />
                <input
                  type="checkbox"
                  th:field="*{taskList[__${stat.index}__].completed}"
                  class="task-checkbox"
                />
                <button
                  type="button"
                  class="icon icon-danger col-2 ml-2 delete-task-btn"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <button
              type="button"
              id="add-task-btn"
              class="button success-button"
            >
              Agregar Tarea
            </button>
            <button type="submit" class="button success-button">
              Actualizar TODO
            </button>
          </form>
          <a th:href="@{/}" class="button primary-button"
            >Volver a la pantalla principal</a
          >
        </div>
      </div>
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>

  <script>
    document.addEventListener('click', function (event) {
      if (event.target.closest('.delete-task-btn')) {
        const taskDiv = event.target.closest('.task-item');
        taskDiv.querySelector('.task-deletion-flag').value = 'true'; // Marcar para eliminación
        taskDiv.style.display = 'none'; // Ocultar visualmente
      }
    });

    let taskIndex = [[${#lists.size(todoList.taskList)}]];

    document.getElementById('add-task-btn').addEventListener('click', function () {
      const tasksContainer = document.getElementById('tasks-container');

      const taskDiv = document.createElement('div');
      taskDiv.classList.add('task-input-container', 'task-item');

      const taskIdInput = document.createElement('input');
      taskIdInput.type = 'hidden';
      taskIdInput.name = `taskList[${taskIndex}].taskId`;
      taskIdInput.value = '';

      const taskDeletionFlag = document.createElement('input');
      taskDeletionFlag.type = 'hidden';
      taskDeletionFlag.name = `taskList[${taskIndex}].toBeDeleted`;
      taskDeletionFlag.value = 'false';

      const taskInput = document.createElement('input');
      taskInput.type = 'text';
      taskInput.name = `taskList[${taskIndex}].name`;
      taskInput.placeholder = 'Nombre de la tarea';
      taskInput.classList.add('form-control', 'mb-2', 'col-4');

      const taskCheckbox = document.createElement('input');
      taskCheckbox.type = 'checkbox';
      taskCheckbox.name = `taskList[${taskIndex}].completed`;
      taskCheckbox.classList.add('task-checkbox');

      const removeTaskBtn = document.createElement('button');
      removeTaskBtn.type = 'button';
      removeTaskBtn.innerHTML = '<i class="fas fa-trash"></i>';
      removeTaskBtn.classList.add("icon", "icon-danger", 'col-2', 'ml-2');
      removeTaskBtn.addEventListener('click', function () {
        tasksContainer.removeChild(taskDiv);
      });

      taskDiv.appendChild(taskIdInput);
      taskDiv.appendChild(taskDeletionFlag);
      taskDiv.appendChild(taskInput);
      taskDiv.appendChild(taskCheckbox);
      taskDiv.appendChild(removeTaskBtn);

      tasksContainer.appendChild(taskDiv);

      taskIndex++;
    });
  </script>
</html>
